
.full-size-poster{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}