.hr-line{
    border: none;
    border-top: 3px solid var(--col1);
    margin: 20px 0;
}

form {
width: 100%;
background-color: white;
padding: 20px 0px;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}


.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--col1);
}

.form-group input,
.form-group textarea,
.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 3px;
}


button[type="submit"] {
    background-color: var(--col1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #333;
}
